In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("dados/campanha_marketing.csv")
df.head()

,tamanho,codigo_local,idade_da_loja,promocao,semana,vendas_em_milhares,classe
0,Medium,1,4,Terceira,xy,33.73,1
1,Medium,1,4,Terceira,zz,35.67,1
2,Medium,1,4,Terceira,k2,29.03,1
3,Medium,1,4,Terceira,q1,39.25,1
4,Medium,2,5,Segunda,xy,27.81,1

In [20]:
df.isnull().sum()

tamanho               0
codigo_local          0
idade_da_loja         0
promocao              0
semana                0
vendas_em_milhares    0
classe                0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tamanho             548 non-null    object
 1   codigo_local        548 non-null    int64
 2   idade_da_loja       548 non-null    int64
 3   promocao            548 non-null    object
 4   semana              548 non-null    object
 5   vendas_em_milhares  548 non-null    float64
 6   classe              548 non-null    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 30.1+ KB

In [22]:
df.describe(include='O')

       tamanho  promocao semana
count      548       548    548
unique       3         3      4
top     Medium  Terceira     xy
freq       320       188    137

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
df['promocao'].unique()

array(['Terceira', 'Segunda', 'Primeira'], dtype=object)

In [25]:
df['tamanho'].unique()

array(['Medium', 'Small', 'Large'], dtype=object)

In [26]:
df['semana'].unique()

array(['xy', 'zz', 'k2', 'q1'], dtype=object)

In [27]:
df.loc[df['promocao'] == 'Primeira', 'promocao'] = 1
df.loc[df['promocao'] == 'Segunda', 'promocao'] = 2
df.loc[df['promocao'] == 'Terceira', 'promocao'] = 3

df['promocao'] = pd.to_numeric(df['promocao'])

In [28]:
df.loc[df['tamanho'] == 'Small', 'tamanho'] = 1
df.loc[df['tamanho'] == 'Medium', 'tamanho'] = 2
df.loc[df['tamanho'] == 'Large', 'tamanho'] = 3

df['tamanho'] = pd.to_numeric(df['promocao'])

In [29]:
le_semana = LabelEncoder()

df['semana'] = le_semana.fit_transform(df['semana'])

le_semana.classes_

array(['k2', 'q1', 'xy', 'zz'], dtype=object)

In [30]:
df['semana'].unique()

array([2, 3, 0, 1])

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X = df.drop('classe', axis = 1)

In [33]:
y = df['classe']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [35]:
X_train

,tamanho,codigo_local,idade_da_loja,promocao,semana,vendas_em_milhares
316,3,515,8,3,2,34.46
154,1,220,3,1,0,99.12
126,2,213,4,2,0,78.01
360,3,611,11,3,2,40.43
535,3,917,14,3,1,50.20
...,...,...,...,...,...,...
71,3,105,8,3,1,56.72
106,3,208,1,3,0,91.98
270,2,503,2,2,0,27.71
435,2,802,9,2,1,44.16
102,3,207,1,3,0,81.58

In [36]:
X

,tamanho,codigo_local,idade_da_loja,promocao,semana,vendas_em_milhares
0,3,1,4,3,2,33.73
1,3,1,4,3,3,35.67
2,3,1,4,3,0,29.03
3,3,1,4,3,1,39.25
4,2,2,5,2,2,27.81
...,...,...,...,...,...,...
543,1,919,2,1,1,64.34
544,2,920,14,2,2,50.20
545,2,920,14,2,3,45.75
546,2,920,14,2,0,44.29
547,2,920,14,2,1,49.41

In [37]:
from sklearn.preprocessing import MinMaxScaler

In [38]:
normalizador = MinMaxScaler()

X_train = normalizador.fit_transform(X_train)

X_test = normalizador.fit_transform(X_test)

In [39]:
X_train

array([[1.        , 0.55930359, 0.25925926, 1.        , 0.66666667,
        0.20799417],
       [0.        , 0.2383025 , 0.07407407, 0.        , 0.        ,
        0.99356093],
       [0.5       , 0.23068553, 0.11111111, 0.5       , 0.        ,
        0.73709148],
       ...,
       [0.5       , 0.54624592, 0.03703704, 0.5       , 0.        ,
        0.12598712],
       [0.5       , 0.87159956, 0.2962963 , 0.5       , 0.33333333,
        0.32584133],
       [1.        , 0.22415669, 0.        , 1.        , 0.        ,
        0.7804641 ]])

In [40]:
X_test

array([[0.        , 0.44722524, 0.18518519, 0.        , 0.33333333,
        0.47436073],
       [1.        , 0.21762786, 0.11111111, 1.        , 0.        ,
        0.76589635],
       [0.        , 0.44722524, 0.18518519, 0.        , 1.        ,
        0.53712567],
       [0.        , 0.66158868, 0.2962963 , 0.        , 1.        ,
        0.27020375],
       [1.        , 0.98150163, 0.22222222, 1.        , 1.        ,
        0.38041843],
       [0.        , 0.99891186, 0.03703704, 0.        , 1.        ,
        0.54204841],
       [1.        , 0.65614799, 0.37037037, 1.        , 0.33333333,
        0.28510871],
       [1.        , 0.55930359, 0.25925926, 1.        , 0.33333333,
        0.2786818 ],
       [0.5       , 0.44831338, 0.        , 0.5       , 0.        ,
        0.42034733],
       [0.        , 0.218716  , 0.25925926, 0.        , 0.        ,
        0.79584302],
       [0.5       , 0.87159956, 0.2962963 , 0.5       , 0.66666667,
        0.34746342],
       [0.5       , 0.00108814, 0.14814815, 0.5       , 0.        ,
        0.06331191],
       [0.5       , 0.55059848, 0.14814815, 0.5       , 0.33333333,
        0.00123069],
       [1.        , 0.22415669, 0.        , 1.        , 1.        ,
        0.79051005],
       [0.        , 0.9945593 , 0.07407407, 0.        , 0.        ,
        0.61479557],
       [0.5       , 0.44069641, 0.07407407, 0.5       , 0.66666667,
        0.30015042],
       [0.        , 0.76496192, 0.96296296, 0.        , 1.        ,
        0.31054287],
       [0.        , 0.98803047, 0.        , 0.        , 0.        ,
        0.59223301],
       [1.        , 0.55930359, 0.25925926, 1.        , 0.        ,
        0.12074388],
       [1.        , 0.22524483, 0.        , 1.        , 0.66666667,
        1.        ],
       [1.        , 0.77366703, 0.2962963 , 1.        , 1.        ,
        0.37932449],
       [0.5       , 0.66702938, 0.25925926, 0.5       , 0.33333333,
        0.13674279],
       [0.        , 0.66158868, 0.2962963 , 0.        , 0.66666667,
        0.33953234],
       [0.        , 0.55603917, 0.11111111, 0.        , 0.33333333,
        0.10201012],
       [1.        , 0.21762786, 0.11111111, 1.        , 0.66666667,
        0.85860796],
       [0.5       , 0.54624592, 0.03703704, 0.5       , 0.66666667,
        0.18255162],
       [1.        , 0.        , 0.11111111, 1.        , 0.        ,
        0.0776699 ],
       [0.        , 0.10881393, 0.77777778, 0.        , 0.33333333,
        0.51387939],
       [1.        , 0.21762786, 0.11111111, 1.        , 1.        ,
        0.80965404],
       [0.        , 0.00217628, 0.40740741, 0.        , 0.        ,
        0.30274853],
       [1.        , 0.11425462, 0.14814815, 1.        , 1.        ,
        0.53110898],
       [0.        , 0.99891186, 0.03703704, 0.        , 0.33333333,
        0.56050868],
       [0.5       , 0.33405876, 1.        , 0.5       , 0.66666667,
        0.38999043],
       [1.        , 0.7616975 , 0.        , 1.        , 0.        ,
        0.34760016],
       [1.        , 0.98150163, 0.22222222, 1.        , 0.66666667,
        0.39026391],
       [0.5       , 0.22089227, 0.        , 0.5       , 0.        ,
        0.88568303],
       [1.        , 0.66376496, 0.37037037, 1.        , 0.        ,
        0.26186244],
       [0.5       , 0.23721436, 0.22222222, 0.5       , 0.66666667,
        0.58621633],
       [1.        , 0.87921654, 0.2962963 , 1.        , 0.        ,
        0.40051962],
       [0.5       , 0.97932535, 0.22222222, 0.5       , 1.        ,
        0.2189252 ],
       [0.5       , 0.43743199, 0.66666667, 0.5       , 0.        ,
        0.29112539],
       [0.5       , 0.5484222 , 0.        , 0.5       , 0.        ,
        0.19896075],
       [0.5       , 0.32644178, 0.        , 0.5       , 1.        ,
        0.27813483],
       [0.        , 0.32861806, 0.2962963 , 0.        , 0.66666667,
        0.44564474],
       [0.        , 0.33188248, 0.44444444, 0.        , 0.66666667,
        0.41624504],
       [0.5       , 0.99129489, 0.18518519, 0.5       , 0.33333333,
        0.32831943],
       [0.        , 0.66594124, 0.62962963, 0.        , 0.66666667,
        0.26541775],
       [1.        , 0.11425462, 0.14814815, 1.        , 0.66666667,
        0.48133461],
       [1.        , 0.21980413, 0.40740741, 1.        , 0.66666667,
        0.90728839],
       [0.5       , 0.87159956, 0.2962963 , 0.5       , 0.        ,
        0.47518118],
       [1.        , 0.99673558, 0.48148148, 1.        , 0.        ,
        0.38944346],
       [0.        , 0.99238303, 0.85185185, 0.        , 0.33333333,
        0.55011623],
       [0.5       , 0.00761697, 0.33333333, 0.5       , 0.        ,
        0.02803227],
       [0.5       , 0.32644178, 0.        , 0.5       , 0.33333333,
        0.51825516],
       [1.        , 0.21980413, 0.40740741, 1.        , 0.        ,
        0.83002872],
       [0.5       , 0.23721436, 0.22222222, 0.5       , 1.        ,
        0.81375632],
       [0.5       , 0.22850925, 0.44444444, 0.5       , 1.        ,
        0.79338165],
       [1.        , 0.87595212, 0.14814815, 1.        , 0.66666667,
        0.37823055],
       [0.        , 0.00217628, 0.40740741, 0.        , 1.        ,
        0.19950773],
       [0.5       , 0.99129489, 0.18518519, 0.5       , 0.        ,
        0.43443183],
       [0.        , 0.66158868, 0.2962963 , 0.        , 0.33333333,
        0.45877205],
       [0.5       , 0.97932535, 0.22222222, 0.5       , 0.        ,
        0.32613155],
       [0.        , 0.24047878, 0.18518519, 0.        , 0.33333333,
        0.92903049],
       [1.        , 0.11316649, 0.25925926, 1.        , 0.        ,
        0.49747026],
       [0.5       , 0.44287269, 0.2962963 , 0.5       , 1.        ,
        0.30179133],
       [1.        , 0.99673558, 0.48148148, 1.        , 0.66666667,
        0.4122795 ],
       [0.        , 0.23177367, 0.14814815, 0.        , 0.33333333,
        0.82155066],
       [1.        , 0.6648531 , 0.        , 1.        , 1.        ,
        0.39463968],
       [1.        , 0.45048966, 0.40740741, 1.        , 1.        ,
        0.34582251],
       [0.5       , 0.43743199, 0.66666667, 0.5       , 1.        ,
        0.26268289],
       [1.        , 0.21762786, 0.11111111, 1.        , 0.33333333,
        0.73594968],
       [1.        , 0.76713819, 0.59259259, 1.        , 0.66666667,
        0.36797484],
       [0.        , 0.44722524, 0.18518519, 0.        , 0.66666667,
        0.49213729],
       [0.5       , 0.97932535, 0.22222222, 0.5       , 0.33333333,
        0.41446739],
       [0.        , 0.218716  , 0.25925926, 0.        , 0.33333333,
        0.96841242],
       [0.5       , 0.23939064, 0.81481481, 0.5       , 0.        ,
        0.7545467 ],
       [1.        , 0.11425462, 0.14814815, 1.        , 0.33333333,
        0.53220293],
       [0.5       , 0.44287269, 0.2962963 , 0.5       , 0.66666667,
        0.3279092 ],
       [0.5       , 0.44069641, 0.07407407, 0.5       , 0.        ,
        0.29714208],
       [1.        , 0.11316649, 0.25925926, 1.        , 0.66666667,
        0.49637632],
       [0.        , 0.98911861, 0.        , 0.        , 0.33333333,
        0.60836866],
       [1.        , 0.11099021, 0.77777778, 1.        , 0.33333333,
        0.57035416],
       [1.        , 0.76605005, 0.77777778, 1.        , 0.66666667,
        0.35990701],
       [1.        , 0.98150163, 0.22222222, 1.        , 0.        ,
        0.42362915],
       [0.        , 0.99782372, 0.18518519, 0.        , 0.66666667,
        0.3592233 ],
       [1.        , 0.98367791, 0.03703704, 1.        , 0.33333333,
        0.47832627],
       [0.        , 0.00870511, 0.18518519, 0.        , 1.        ,
        0.20907972],
       [0.        , 0.9945593 , 0.07407407, 0.        , 0.66666667,
        0.41241625],
       [1.        , 0.23503808, 0.14814815, 1.        , 0.66666667,
        0.93340626],
       [1.        , 0.        , 0.11111111, 1.        , 0.66666667,
        0.14193901],
       [0.        , 0.00217628, 0.40740741, 0.        , 0.33333333,
        0.15588678],
       [0.        , 0.98911861, 0.        , 0.        , 0.        ,
        0.52782716],
       [1.        , 0.0054407 , 0.33333333, 1.        , 0.        ,
        0.26842609],
       [1.        , 0.6648531 , 0.        , 1.        , 0.33333333,
        0.34199371],
       [1.        , 0.54406964, 0.18518519, 1.        , 1.        ,
        0.24777793],
       [0.5       , 0.22089227, 0.        , 0.5       , 1.        ,
        0.79912485],
       [1.        , 0.55168662, 0.14814815, 1.        , 0.        ,
        0.12525639],
       [0.5       , 0.23286181, 0.22222222, 0.5       , 0.66666667,
        0.81088473],
       [0.5       , 0.44287269, 0.2962963 , 0.5       , 0.33333333,
        0.23123205],
       [0.5       , 0.33405876, 1.        , 0.5       , 0.33333333,
        0.38260632],
       [0.5       , 0.44396083, 0.48148148, 0.5       , 0.        ,
        0.28428825],
       [0.        , 0.76496192, 0.96296296, 0.        , 0.        ,
        0.43908109],
       [0.5       , 0.00435256, 0.33333333, 0.5       , 0.        ,
        0.19308081],
       [0.        , 0.99782372, 0.18518519, 0.        , 1.        ,
        0.53589498],
       [0.        , 0.2383025 , 0.07407407, 0.        , 1.        ,
        0.90209216],
       [0.5       , 0.00326442, 0.        , 0.5       , 0.33333333,
        0.10433475],
       [1.        , 0.65614799, 0.37037037, 1.        , 0.66666667,
        0.23164228],
       [0.5       , 0.00979325, 0.14814815, 0.5       , 0.33333333,
        0.16149323],
       [0.        , 0.10881393, 0.77777778, 0.        , 0.        ,
        0.61629974],
       [1.        , 0.55495103, 0.85185185, 1.        , 0.        ,
        0.27266512],
       [0.        , 0.01196953, 0.40740741, 0.        , 0.        ,
        0.25133324],
       [1.        , 0.22198041, 0.66666667, 1.        , 1.        ,
        0.91549296],
       [0.        , 0.88030468, 0.44444444, 0.        , 0.66666667,
        0.35484753],
       [1.        , 0.65288357, 0.22222222, 1.        , 1.        ,
        0.31368795],
       [0.        , 0.54733406, 0.11111111, 0.        , 0.66666667,
        0.25721318],
       [0.        , 0.98803047, 0.        , 0.        , 1.        ,
        0.53835635],
       [0.5       , 1.        , 0.48148148, 0.5       , 0.33333333,
        0.3563517 ],
       [1.        , 0.76713819, 0.59259259, 1.        , 0.33333333,
        0.3138247 ],
       [0.5       , 0.54515778, 0.66666667, 0.5       , 1.        ,
        0.08601121],
       [1.        , 0.66376496, 0.37037037, 1.        , 0.33333333,
        0.40216054],
       [1.        , 0.65614799, 0.37037037, 1.        , 1.        ,
        0.34185697],
       [0.        , 0.98803047, 0.        , 0.        , 0.33333333,
        0.56488445],
       [0.5       , 0.43634385, 0.88888889, 0.5       , 0.66666667,
        0.23314645],
       [0.5       , 0.43743199, 0.66666667, 0.5       , 0.33333333,
        0.2975523 ],
       [0.5       , 0.99020675, 0.        , 0.5       , 0.66666667,
        0.43812389],
       [0.        , 0.2383025 , 0.07407407, 0.        , 0.33333333,
        0.85464242],
       [0.5       , 1.        , 0.48148148, 0.5       , 0.66666667,
        0.36715438],
       [0.        , 0.3297062 , 0.07407407, 0.        , 1.        ,
        0.5487488 ],
       [0.        , 0.76496192, 0.96296296, 0.        , 0.33333333,
        0.38370026],
       [1.        , 0.11316649, 0.25925926, 1.        , 1.        ,
        0.46068645],
       [0.5       , 0.55386289, 0.22222222, 0.5       , 0.        ,
        0.05743197],
       [1.        , 0.23394995, 0.11111111, 1.        , 1.        ,
        0.70285792],
       [0.5       , 0.98585419, 0.33333333, 0.5       , 0.66666667,
        0.29891973],
       [0.        , 0.3297062 , 0.07407407, 0.        , 0.66666667,
        0.41925338],
       [0.5       , 0.23068553, 0.11111111, 0.5       , 0.66666667,
        0.68193628],
       [0.        , 0.76387378, 0.11111111, 0.        , 0.        ,
        0.56201285],
       [0.5       , 0.43960827, 0.11111111, 0.5       , 0.        ,
        0.31546561],
       [0.        , 0.66594124, 0.62962963, 0.        , 1.        ,
        0.37153015],
       [1.        , 0.7616975 , 0.        , 1.        , 0.66666667,
        0.41309996],
       [0.        , 0.66594124, 0.62962963, 0.        , 0.        ,
        0.45822508],
       [0.        , 0.99891186, 0.03703704, 0.        , 0.66666667,
        0.49938466],
       [0.5       , 0.98585419, 0.33333333, 0.5       , 0.33333333,
        0.32421715],
       [1.        , 0.7616975 , 0.        , 1.        , 1.        ,
        0.36059073],
       [1.        , 0.44178455, 0.18518519, 1.        , 1.        ,
        0.43538903],
       [1.        , 0.55495103, 0.85185185, 1.        , 1.        ,
        0.21960892],
       [0.5       , 0.54951034, 0.40740741, 0.5       , 1.        ,
        0.16559551],
       [1.        , 0.87595212, 0.14814815, 1.        , 0.        ,
        0.30657733],
       [0.        , 0.87377584, 0.        , 0.        , 0.        ,
        0.49801723],
       [0.5       , 0.00435256, 0.33333333, 0.5       , 0.33333333,
        0.        ],
       [0.        , 0.87051143, 0.07407407, 0.        , 0.66666667,
        0.57103788],
       [1.        , 0.10990207, 0.25925926, 1.        , 0.66666667,
        0.52290442],
       [1.        , 0.65832427, 0.25925926, 1.        , 0.        ,
        0.20730206],
       [0.        , 0.55603917, 0.11111111, 0.        , 0.66666667,
        0.16340763],
       [0.5       , 0.66811752, 0.        , 0.5       , 1.        ,
        0.18391905],
       [0.5       , 0.65505985, 0.11111111, 0.5       , 0.33333333,
        0.03213455],
       [1.        , 0.44940152, 0.        , 1.        , 0.33333333,
        0.46095993],
       [0.5       , 0.99129489, 0.18518519, 0.5       , 0.66666667,
        0.36414604],
       [0.        , 0.33188248, 0.44444444, 0.        , 1.        ,
        0.59633529],
       [0.        , 0.00652884, 0.51851852, 0.        , 1.        ,
        0.25721318],
       [0.        , 0.87051143, 0.07407407, 0.        , 1.        ,
        0.42431287],
       [1.        , 0.01088139, 0.14814815, 1.        , 0.        ,
        0.14357993],
       [0.        , 0.66267682, 0.11111111, 0.        , 1.        ,
        0.33597703],
       [0.5       , 0.33079434, 0.03703704, 0.5       , 0.        ,
        0.35224942],
       [0.        , 0.32861806, 0.2962963 , 0.        , 0.        ,
        0.44906331],
       [0.        , 0.3351469 , 0.25925926, 0.        , 0.33333333,
        0.49623957]])